.content ul.archive-list, ul.archive-list {
  margin-left: 0;
  li.archive-list-item {
    list-style: none;

    .archive-list-link {
    }
  }
}

.content ul.tag-list, ul.tag-list {
  margin-left: 0;
  li.tag-list-item {
    list-style: none;

    .tag-list-link {
    }
  }
}

.content ul.category-list, ul.category-list {
  margin-left: 0;
  li.category-list-item {
    list-style: none;

    .category-list-link {
    }
  }
}
