body {
	background: #fafafa;
}

time .fa {
	position: relative;
	bottom: -3px;
	margin-left: 4px;
	margin-right: 4px;
}

.tag .fa {
	margin-right: 4px;
}

/* Mobile */
#cover {
	display: none;
}

#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 340px;
	background: #fcfcfc;
    border-right: 1px solid #ebebeb;
	box-shadow: 0px 0px 0px #ccc;
}

#sidebar:hover {
	overflow-y: auto;
}

#sidebar .author-info {
	margin: 30px;
	text-align: center;
}

#sidebar .socials {
	margin: 20px 20px 20px 20px;
    text-align: center;
}

#sidebar > .image + .profile-pic {
	position: relative;
	background: inherit;
	bottom: 64px;
	margin: auto;
	margin-bottom: -64px;
	border-radius: 4px;
	padding: 4px;
}

#infobar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 1060px;
	width: 180px;
}

#infobar .menu-list {
	margin: 42px 0px 42px 0px;
}

@media screen and (max-width: 1280px) {
	#infobar {
		display: none;
	}
}

#content .content {
	line-height: 1.7;
}

#content {
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 350px;
    padding-bottom: 4rem;
    min-height: 100vh;
}

@media screen and (min-width: 1280px) {
    #content .content {
        line-height: 1.94;
    }
    #content .card .card-content {
        margin: 20px;
    }
}

#content .content p {
    text-align: justify;
}

#recent-posts, .single-post {
	width: 720px;
	padding: 42px 42px 0px 42px;
}

.post-pagination {
    width: 740px;
    padding: 0px 42px 42px 42px;
}
.post-pagination .pagination {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
}

#recent-posts .post, .single-post .post {
	margin-bottom: 42px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    left: 1070px; // desktop
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
}
