.content pre {
  padding: 0;
  line-height: 1.37;
  font-size: 10px;
}

.content pre code.hljs {
  padding: 0;
  border: 1px dashed #777;
}

.content pre code table.hljs-ln td {
  border: none;
  padding: .2em .6em;
}

.content pre code table.hljs-ln td.hljs-ln-numbers {
    width: 1%;
    white-space: nowrap;
    background-color: #ddd;
}
